.instruction {
    background: var(--instuction-bg-color);
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: "controls events"
                         "footer footer";
    grid-column-gap: 0.5em;
    height:100%;
    letter-spacing: 0.1em;
    line-height: 1.7em;
    overflow-y: scroll;
    padding: 1em;
    position: absolute;
    top: 0;
    width:100%;
}

.instruction__bttn {
    padding: 0.5em;
    font-size: 1.2em;
}

.instruction__footer {
    grid-area: footer;
    grid-column-end: span 2;
    margin-top: 1em;
    text-align: center;
}

.instruction__element + .instruction__element {
    margin-top: 0.5em;
}

.instruction__highlight {
    font-size: 1.2em;
    font-weight: bold;
}

.instruction__list {
    padding: 0 2em;
}

.instruction__controls {
    grid-area: controls;
}

.instruction__events {
    grid-area: events;
}

.instruction__keyboard-usage {
    align-items: stretch;
    display: flex;
    flex-flow: row wrap;
}

.instruction__keyboard-usage__element {
    margin-right: 1em;
}

.instruction__keyboard-usage img {
    margin: auto;
    height: 3em;
}