.menu {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	margin: auto;
	min-width: min-content;
	width:20%;	
}

.menu__item {
	font-size: calc(0.8rem + 0.7vw);
	padding: 0.7em 1em;
}

.menu__item ~ .menu__item {
	margin-top: 0.3em;
}

.menu__item--primary {
	background-color: var(--menu-bttn-bg-color--primary);
	border-bottom: var(--menu-bttn-border--primary);
	border-left: 0;
	border-right: var(--menu-bttn-border--primary);
	border-top: 0;
	font-weight: bold;
	letter-spacing: 0.15em;
	text-transform: uppercase;
}

.menu__item--primary:active{
	border-bottom: 0;
	border-left: var(--menu-bttn-border--primary);
	border-right: 0;
	border-top: var(--menu-bttn-border--primary);
}

.menu__item--primary:hover {
	cursor: pointer;
	background-color: var(--gray-60);
}

.play-bttn {
	background-color: var(--menu-bttn-bg-color--play);
	border-bottom: var(--menu-bttn-border--play);
	border-left: 0;
	border-right: var(--menu-bttn-border--play);
	border-top: 0;
	text-shadow: 0 0 0.5em black;
}

.play-bttn:active {
	border-bottom: 0;
	border-left: var(--menu-bttn-border--play);
	border-right: 0;
	border-top: var(--menu-bttn-border--play);
}

.play-bttn:hover {
	background-color: var(--green-40);
}