.pause-view{
    height:100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 100;
}

.pause-view__text{
    font: 2em bold Arial, Helvetica, sans-serif;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.pause-view--light{
    background: rgba(255, 255, 255, 0.49);
    color:white;
}

.pause-view--dark{
    background: rgba(0, 0, 0, 0.51);
    color:white;
}