/* Appending game variables */
.game-root{
	--basic-size: 10px;
	--field-bg-color: hsl(43,45%,31%);
	--green-50: hsl(120, 80%, 50%);
	--green-40: hsl(120, 80%, 40%);
	--green-30: hsl(120, 80%, 35%);
	--green-20: hsl(120, 80%, 20%);
	--gray-90: hsl(180, 5%, 90%);
	--gray-60: hsl(180, 5%, 60%);
	--gray-50: hsl(180, 5%, 50%);
	--gray-40: hsl(180, 5%, 40%);
	--menu-bttn-bg-color--primary: var(--gray-50);
	--menu-bttn-bg-color--play: var(--green-30);
	--menu-bttn-border--primary: 0.15em solid hsl(180, 5%, 30%);
	--menu-bttn-border--play:  0.15em solid hsl(120,40%,25%);
	--instuction-bg-color: var(--field-bg-color);
	--letter-flash-color: #02fcfc;
}

.game-root {
	color: white;
	font-size: 1rem;
	height: 100%;
	min-width:400px;
	width: 100%;
}

.game-root button{
	color: inherit;
}

.hidden {
	display: none !important;
}

.view-container {
	position: absolute;
	height: 100%;
	width: 100%;
}

.top-panel {
	height: 3rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 2px 0;
}

.box--green {
	background-color: var(--green-30);
	border-radius: 5px;
	color: var(--gray-90);
	border: 2px solid var(--green-20);
	font-size: 1.5rem;
}

.box {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.score {
	width: 15%;
	font-weight: bold;
}

.message {
	flex-grow: 1;
}

.game-container {
	position: relative;
	height: calc(100% - 3rem - 5px);
	display: flex;
	flex-direction: column;

}

.game__canvas {
	min-width:400px;
	min-height: 450px;
	height: 100%;
	background: var(--field-bg-color);
}
/* 
.input {
	font-size: calc(1rem + 1vw);
	padding: .2em .4em;
	background-color: #e0e0e0;
	text-align: center;
}

.input-error {
	border: 2px solid red;
}

.error-mssg {
	color: red;
} */

.snake {
	display: inline-block;
	vertical-align: top;
	background-color: hsl(124, 30%, 20%);
	border: 1px hsl(124, 30%, 20%);
	border-radius: 2px;
	width: var(--basic-size);
	height: var(--basic-size);
	position: absolute;
	float: left;
	margin-left: -2px;
}

.food {
	display: inline-block;
	vertical-align: top;
	background-color: red;
	border: 1px red;
	border-radius: 2px;
	width: 14px;
	height: 14px;
	position: absolute;
	float: left;
	margin-left: -4px;
}

.body {
	display: inline-block;
	vertical-align: top;
	background-color: green;
	border: 1px green;
	border-radius: 2px;
	width: 14px;
	height: 14px;
	position: absolute;
	float: left;
	margin-left: -2px;
}
