extends layout

append head
    link(rel='stylesheet', href='/stylesheets/game.css')
    script(src='/javascripts/game.js')

block content
    a(href="#game" class="hidden js-link--click-on-load")
    div(id="game" class="fill-window")
        block game