doctype html
html
  head
      block head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/nav-top.css')
        link(rel='stylesheet', href='/stylesheets/tile.css')
        link(rel='stylesheet', href='/stylesheets/header.css')
        link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon" )

  body
      div(class="page-grid")
        header(class="header header--primary")
            a(class="logo" href='/')="Snake | some-thingy"
        main(class="main")
            block content
        footer(class="footer footer--primary")="A foot"


