.header{
    padding: .3rem 1rem;
    grid-area: header;
}

.header--primary{
    text-align: center;
    background: var(--primary-bg);
    color: black;
}

.logo{
    font-size: 2rem;
    float: left;
    font-weight: 100;
    letter-spacing: .1em;
}