.nav{
    list-style: none;
    display: flex;
}

.nav-top{
    grid-area: nav;
    position: sticky;
    top: 0;
}

.nav-top--primary{
    background: var(--primary-bg-dark);
}

.nav-top__bttn{
    display: block;
    font-size: 1.2rem;
    padding: .2em 1em;
    margin: .1rem .1rem;
}

.nav-top__bttn--primary{
    text-decoration: none;
    color: var(--primary-color);
}

.nav-top__bttn--primary :hover{
    background-color: var(--white-cast);
    cursor: pointer;
}


.js-nav-top__bttn--sublist{

}

.js-nav-left--slide-in{

}

.js-nav-left--slide-out{

}