body {
  font: 1em "Lucida Grande", Helvetica, Arial, sans-serif;
}

:root {
  --primary-bg: #92003c;
  --primary-bg-dark: #63002a;
  --primary-color: #efefef;
  --primary-color-dark: #cccccc;
  background: var(--primary-color);

}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

.header{
  padding: .2rem;
}

.header--primary{
  text-align: center;
  background: var(--primary-bg);
  color: var(--primary-color);
}

.footer--primary{
  background: var(--primary-bg-dark);
  color: var(--primary-color-dark);
}
