extends game

append head
    link(rel='stylesheet' href='/stylesheets/bandit/bandit.css')
    script(src="/javascripts/bandit/main.js" type="module")
    script(src="https://code.jquery.com/jquery-1.12.4.js")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
    link(rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")

block game
    div(class="game-container")
        div(id="menu" class="menu")
            div(class="menu-list")
                button(id="start" class="menu_button") START
        ul(class='top-panel')
            li
                span="pozostało żyć: "
                span(id="lives-left" class="count" ) 0
            li
                img(alt="portfel: ")
                span(id="money" class="count")
        div(class="bandit")
            div(id="handle" class="clickable") handle
        div(id="bet" class="slider")
        span(id="bet-value" class="count")