extends game

append head
    link(rel='stylesheet', href='/stylesheets/escape/style.css')
    link(rel='stylesheet', href='/stylesheets/escape/menu.css')
    script(src='/javascripts/escape/main.js' type="module")

block game
    canvas(id="game-canvas", width=700, height=500)
    div(class="menu-container")
        div(class="menu")
            button(class="menu__item menu__item--primary" disabled=true) Instrukcja
            button(class="menu__item menu__item--primary play-bttn") Graj

