extends game

append head
    link(rel='stylesheet', href='/stylesheets/snake/snake.css')
    link(rel='stylesheet', href='/stylesheets/snake/menu.css')
    link(rel='stylesheet', href='/stylesheets/snake/pause-view.css')
    script(src="/javascripts/snake/game.js" type="module")

block game
    div(class="game-holder")
        div(class="top-panel")
            div(class="box box--green message")
                span(class="message__content")
            div(class="box box--green score")
                span(class="score__content") 0
            div(class="box box--green score")
                span(class="counter__content") 0:00
        div(class="game-container")
            canvas(class="game__canvas")
            div(class="view-container")
                div(class="menu")
                    button(class="menu__item menu__item--primary" disabled=true) Instrukcja
                    button(class="menu__item menu__item--primary play-bttn") Graj
                div(class="pause-view pause-view--light hidden")
                    div(class="pause-view__text") pause

            span(class="letter")
            span(class="choose-object hidden")
            span(class="choose-object hidden")
            span(class="choose-object hidden")
            span(class="choose-object hidden")
            span(class="choose-object hidden")

            img(class="game__image food-image hidden" src="/images/snake/cookie.png")
            img(class="game__image obstacle-image hidden" src="/images/snake/fire.png")
            img(class="game__image snake-part-image hidden" src="/images/snake/snake-part.png")
            img(class="game__image snake-head-image hidden" src="/images/snake/snake-head.png")


